<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div class="messages">
      <% messages.forEach((message) => { %>
        <div>
          <div><%= message.text %></div>
          <div><%= message.user %></div>
          <div><%= message.added %></div>
        </div>
      <% }); %>
    </div>
    <a href="/new">
      <button class="add-btn">Add +</button>
    </a>
  </body>
</html>
